.main-main-div {
    background-color: blueviolet;
    /* height: 670px; */
    width: 100%;
    background-image: url('../../img/blue-flower.jpeg');
    background-size: 100%;
    padding: 270px 10% 50px 10%;
}

