.main-main-div {
    background-color: blueviolet;
    /* height: 670px; */
    width: 100%;
    background-image: url('../../img/car-yard.jpg');
    background-size: cover;
    padding: 150px 0 25px 5%;
}



