.main-content-main-div {
    background-color: aliceblue;
}

.main-content-main-div div.header {
    background-color: rgb(9, 67, 98); 
    color: white;
    text-align: center;
    padding:35px;
}

.featured-wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 3% 0;
}