.search-form-main-div {
    
    background-color: rgb(9, 67, 98); 
    width: 500px;
    padding: 35px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.151), 10px 10px 8px  rgba(0, 0, 0, 0.200), 15px 15px 8px  rgba(21, 13, 136, 0.25); 
    border-radius: 5px;
}

.search-form-main-div h2 {
    display: block;
    width: 100%;
    padding: 0 0 20px 0;
    color: white;
}

.search-form-main-div input {
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
}

.search-form-main-div select {
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
}

.search-form-main-div select.inline-block {
    display: inline-block;
    width: 45%;
    padding: 10px;
    margin: 0 0 20px 0;
}

.search-form-main-div p {
    display: inline-block;
    width: 10%;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: 700;
}

input.submit{
    background-color: rgb(43, 128, 226); 
    border: 0;
    color: white;
}