.header-main-div {
    background-color: rgb(9, 67, 98);
    height: 130px;
    display: flex;
}

.header-main-div p {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: right;
    margin: auto 15%;
}

