.footer-main-div {
    background-color: rgb(9, 67, 98);
    color: white;
    padding: 20px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row;
}

/* .footer-contact {
    width: 30%;
} */

.footer-opening-hours {
    text-align: center;
    /* width: 30%; */
}

.footer-locations {
    text-align: right;
    /* width: 30%; */
    
}

.contact {
    padding: 10px;
}

.hours {
    padding: 10px;
}

.location {
    padding: 10px;
}