.footer-main-div {
    background-color: rgb(9, 67, 98);
    color: white;
    padding: 20px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row;
}

.footer-opening-hours {
    text-align: center;
    width: 30%;
}

.footer-locations {
    text-align: right;
    width: 30%; 
}

.footer-contact {
    width: 30%; 
}

.contact, .hours, .location{
    padding: 10px;
}

@media (max-width: 768px) {
    .footer-main-div {
        background-color: rgb(9, 67, 98);
        color: white;
        display: block;
    }

    .footer-opening-hours {
        text-align: center;
        width: 100%;
    }
    
    .footer-locations {
        text-align: center;
        width: 100%; 
    }
    
    .footer-contact {
        text-align: center;
        width: 100%; 
    }
}