.footer-main-div {
    background-color: rgb(9, 67, 98);
    color: white;
    padding: 20px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row;
}

.footer-opening-hours {
    text-align: center;
}

.footer-locations {
    text-align: right;  
}

.contact, .hours, .location{
    padding: 10px;
}