.nav-main-div {
    background-color: rgb(18, 177, 240);
    position: absolute;  
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.151), 10px 10px 8px  rgba(0, 0, 0, 0.200), 15px 15px 8px  rgba(21, 13, 136, 0.25); 
    border-radius: 20px;
    top: 90px;
    left: 10%; 
    width :80%; 
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    padding: 40px 25px;
}

.nav-wrapper li {
    flex-grow: 1; 
    line-height: 1.5em;
    font-weight: 700;
    color: white;
    align-self: flex-end;
}

.nav-wrapper li a{
    text-decoration: none;
    color: white;
    
}

#nav-logo a h2 {
    text-decoration: none;
    color: rgb(9, 67, 98);
}

#nav-logo {
    text-decoration: none;
    /* display: flex; */
    /* color: rgb(9, 67, 98); */
    flex-grow: 10;
    font-size: 1.5em;
}

.header-main-div {
    background-color: rgb(9, 67, 98);
    height: 130px;
    display: flex;
}

.header-main-div p {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: right;
    margin: auto 15%;
}


